<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445089347234-3v0h7qlenglhbl31di2qgbop8i4gjur8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445089347234-3v0h7qlenglhbl31di2qgbop8i4gjur8</string>
	<key>API_KEY</key>
	<string>AIzaSyCGxxrIjXdm3KqA6q66Yg3W-UjwjvTaekU</string>
	<key>GCM_SENDER_ID</key>
	<string>445089347234</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shotaakizuki.blocChatApp</string>
	<key>PROJECT_ID</key>
	<string>bloc-chat-app-57bad</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-chat-app-57bad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445089347234:ios:f7eb71564c881632d789fb</string>
	<key>DATABASE_URL</key>
	<string>https://bloc-chat-app-57bad.firebaseio.com</string>
</dict>
</plist>